div {
  border: 2px solid salmon;
  background: #c5f0f0;
  margin-top: 40px;
  /* padding: 10px; */
  position: relative;
  top: 0;
  left: 0;
}

.one {
  background: crimson;
  color: #eee;
}

.two {
  background: rgb(67, 100, 233);
  color: #eee;
}

.special {
  background: #567812;
  color: white;
  font-size: 30px;
  /* position: absolute; */
  top: 0%;
  left: 0;
}

.container {
  min-height: 100vh;
  background: #12ffee;
}
