/* * {
  margin: 0;
} */
h1,
p {
  color: #fff;
}
h1 {
  background: rgb(100, 65, 133);
  /* padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; */
  padding: 10px;
  /* margin-top: 2rem; */
  /* margin: 3rem;

  /* border-style: double;
  border-width: 10px;
  border-color: black; */
  border: 1rem solid red;
  border-radius: 500px;
}
p {
  background: #224610;
  /* padding: 20px 40px; */
  /* padding: 10px 40px 20px 60px;
  margin: 20px 30px 40px 50px;*/
  border: 10px dashed rgb(219, 21, 209);
  padding: 15px;
  border-radius: 50%;
  margin-top: -25px;
}
