div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background: #987654;
  transform: skew(123deg, 34deg);
}

.two {
  background: #345678;
  transform: skewX(23deg);
}

.three {
  background: yellow;
  transform: skewY(56deg);
}
